# .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
.vs/
.vscode/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Angular
/dist
/tmp
/out-tsc
/bazel-out
node_modules/
npm-debug.log
yarn-error.log

# Docker
.docker/

# Database
*.db
*.db-shm
*.db-wal

# IDE
.idea/
*.sln.iml

# Environment files
*.env
appsettings.Development.json 